<h1>Listing users</h1>

<table>
  <tr>
    <th id="user_name">Name</th>
    <th id="user_auths">Authorizations</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td headers="user_email"><%= link_to user.name, user %></td>
    <td headers="user_auths">
      <ul>
        <% user.auths.each do |auth| %>
        <li><%= auth.provider.capitalize %></li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New User', new_user_path %> -->